body{
    background-color: lightblue;
    /* For centering the the h1 content. */
     /* display:flex;
     justify-content: center;
     align-items: center;
     height: 100vh; */
}
/* Transform properties are used to move content in left ,right etc direction. */
h1{
    font-size: 6rem;
    text-align: center;
    color:white;
    /* for sharper value of blurr radious should be less. */
    /* we can give multiple shadow. */
    /* text-shadow: 15px -15px 2px red,25px 15px 2px blue; */
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    transition:1s;
}
h1:hover{
    /* transform: translateX(-300px); */
    /* transform:translateY(-300px); */
      /* transform: rotate(2turn); */
      /* transform: scaleX(2); */
       /* transform:scaleY(2); */
       /* will transform in both the direction. */
       transform: scale(2);
}